body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

canvas{
    box-shadow: #000 20px 30px 40px;
    
    
}
.button{
    padding: 10px 20px;
    background-color: burlywood;
    color: #fff;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: all 0.1 ease;

}
.button:hover{
    cursor: pointer;
}
.button:active{
    box-shadow: 0px 0px 0px burlywood;
}

